<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

        {% if title %}
        <title>{{ title }} - Consultório MedTADS</title>
        {% endif %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">
              <i class="fas fa-home"></i>
              Página Inicial
            </a>

            {% if current_user.is_anonymous %}
            <a class="navbar-brand" href="{{ url_for('login') }}">
              <i class="fas fa-sign-in-alt"></i>
              Login
            </a>

            {% else %}
            <a class="navbar-brand" href="{{ url_for('logout') }}">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
            {% endif %}

        </nav>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="modal" tabindex="-1" role="dialog" id="meuModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Falha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                  </div>
                </div>
              </div>
            </div>
            <script>
            $('#meuModal').modal('show')
            </script>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>




